*{
    font-size: 20px;
}

body{
    background: linear-gradient(rgb(0, 238, 255), rgba(4, 106, 240, 0.933));
}

h1{
    font-size: 40px;
    margin:10px 20px 20px 30px;
    text-align: center;
    color:green;
}

a{
    color: black;
}

table{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
