*{
    font-size: 20px;
}

body{
    background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
}

h1{
    font-size: 40px;
    margin:10px 20px 20px 30px;
    text-align: center;
    color:green;
}

a{
    color: black;
}

table{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.atcoder{
    color:brown;
}
