*{
    font-size: 20px;
}

body{
    background: linear-gradient(rgb(255, 204, 241), rgba(255, 105, 192, 0.933));
}

h1{
    font-size: 40px;
    margin:10px 20px 20px 30px;
    text-align: center;
    color:green;
}

a{
    color: black;
}

table{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
